Source: kodi-pvr-hts
Priority: extra
Maintainer: Arne Morten Kvarving <arne.morten.kvarving@sintef.no>
Build-Depends: debhelper (>= 9.0.0), cmake, kodi-pvr-dev,
               libkodiplatform-dev (>= 16.0.0), kodi-addon-dev
Standards-Version: 3.9.4
Section: libs

Package: kodi-pvr-hts
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: kodi-pvr-tvheadend-hts (<< 2.2)
Provides: kodi-pvr-hts, kodi-pvr-tvheadend-hts
Breaks: kodi-pvr-tvheadend-hts (<< 2.2)
Description: TVHeadEnd PVR for Kodi
 TVHeadEnd PVR for Kodi

Package: kodi-pvr-hts-dbg
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debugging symbols for TVHeadEnd PVR for Kodi
 debugging symbols for TVHeadEnd PVR for Kodi

Package: kodi-pvr-tvheadend-hts
Depends: kodi-pvr-hts, ${misc:Depends}
Architecture: all
Priority: extra
Section: oldlibs
Description: transitional dummy package
  This is a transitional dummy package. It can safely be removed.

