<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
  <section id="addon" label="-1" help="-1">
    <category id="advanced" label="30008" help="-1">
      <group id="1" label="30200">
        <setting id="trace_debug" type="boolean" label="30201" help="-1">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
      </group>
    </category>
  </section>
</settings>
